# FastAPI Framework
fastapi==0.121.2
uvicorn[standard]==0.34.0

# Database
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
alembic==1.14.0

# Environment variables
python-dotenv==1.0.1

# Data validation
pydantic==2.12.4
pydantic-settings==2.7.1
email-validator==2.3.0

# Authentication & Security
python-jose[cryptography]==3.3.0
bcrypt==4.1.2
python-multipart==0.0.20
slowapi==0.1.9

# Development dependencies
pytest==8.3.4
pytest-asyncio==0.24.0
httpx==0.28.1

# IA
langchain==1.0.7
langgraph==1.0.3
langgraph-cli==0.4.7
langchain-openai==1.0.3

langgraph-checkpoint-postgres==3.0.1
